body {
 background-image: url("background.gif");
 background-color: #000000;
}
h1 {
 color: white;
 text-align: center;
 border-style: groove;
}
.main {
 float: left;
 color: white;
 border-style: groove;
}
