body {
 background-image: url("background.gif");
 background-color: #000000;
}
h1 {
 color: white;
 text-align: center;
 border-style: groove;
 background-color: red;
}
.main {
 float: left;
 color: white;
 border-style: groove;
 background-color: red;
 width: 49%;
}
.right {
 float: right;
 color: white;
 border-style: groove;
 width: 50%;
 background-color: red;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1.blinking-text {
    text-align: center;
    color: white;
    background-color: red;
    border-style: groove;
    animation: blink 1s infinite; 
}
